<div class="hi-world-show-page">
  <h2>{{ 'Show The World'|t }}</h2>
  <p>{{ 'Fill in this form to post your message.'|t }}</p>

  <div class="hi-world-form-wrapper">
    {{ form }}
  </div>

  <hr>

  <h3>{{ 'Explore The World'|t }}</h3>
  <div class="hi-world-form-wrapper">
    {{ explore_form }}
  </div>
</div>
